# Encrypted with ansible-vault in vps.secrets.yml
pgbackrest_s3_key: ""
pgbackrest_s3_secret: ""
# pgbackrest_cipher_pass: ""

redis_password: ""
redis_username: default

postgres_databases:
  # - key: app
  #   name: app
  #   user: app
  #   password: ""

caddy_sites:
  # - name: app
  #   hosts: "app.example.com, www.app.example.com"
  #   upstream: "127.0.0.1:3000"
