{% for db in postgres_databases %}POSTGRES_DB_{{ db.key | upper }}_NAME={{ db.name }}
POSTGRES_DB_{{ db.key | upper }}_USER={{ db.user }}
POSTGRES_DB_{{ db.key | upper }}_PASSWORD={{ db.password }}
{% endfor %}
